In [66]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [77]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_DF = pd.read_csv('backer_info.csv', encoding='utf-8')

In [79]:


   #create a dictionary for each row
   data = row[0]

   # convert data to a dictionary
   transformed_data = json.loads(data)

   # print the data type of transformed_data
   # print(type(transformed_data))

   #make pandas columns for each key in the dictionary
   for key in transformed_data:
      backer_DF.loc[i, key] = transformed_data[key]
   
#drop the original backer_info column
backer_DF.drop(columns=["backer_info"], inplace=True)

In [80]:
backer_DF

     backer_id   cf_id              name                  email
0        av166   968.0    Angelo Vincent      avincent@live.com
1        ha127   563.0     Hubert Arnold     harnold@yandex.com
2        lg794    65.0      Loris Goulet     lgoulet@yandex.com
3        tb566   563.0  Teodora Brunelli  tbrunelli@outlook.com
4        lh506   563.0        Lexie Hunt         lhunt@live.com
...        ...     ...               ...                    ...
8170     st581    65.0   Serita Thebault   sthebault@yandex.com
8171     gf637   563.0   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983  1114.0       Robt Collin    rcollin@outlook.com
8173     cz381    65.0      Corina Zappa     czappa@outlook.com
8174     fg535    65.0     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [3]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
for i, row in backer_DF.iterrows():
    transformed_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    for key in transformed_data:
        # Append the list of values for each row to a list. 
        backer_DF.loc[i, key] = transformed_data[key]

# Print out the list of values for each row.

In [4]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 

#drop the original backer_info column
backer_DF.drop(columns=["backer_info"], inplace=True)

In [64]:
# Export the DataFrame as a CSV file using encoding='utf8'.
#export to csv
backer_DF.to_csv('backer_info_transformed.csv', encoding='utf8')

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [88]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_DF = pd.read_csv('backer_info.csv', encoding='utf-8')

In [93]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression and assign it to a new column called "backer_id".
backer_DF['backer_id'] = backer_DF['backer_info'].str.extract(r'([a-z]+\d{3})')
backer_DF.head()

,backer_info,backer_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506

In [95]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backer_DF['cf_id'] = backer_DF['backer_info'].str.extract(r'(\d{2,4})')
backer_DF

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,166
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,127
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,794
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,566
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,506
...,...,...,...
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581,581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637,637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983,983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381,381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535,535

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [13]:
# Check data types.

In [14]:
# Convert cf_id to an integer if necessary.

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.

In [16]:
#  Drop the name column


# Reorder the columns

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.